.searchInputs {
    display: flex;
    color: white;
}

.searchInputs label {
display: block;
}
  
.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
    border-radius: 8px 0 0 8px;
}

.name {
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: #02D1BC;
    color: black;
    display: grid;
    place-items: center;
    border-radius: 0 8px 8px 0;
}

.closeIcon {
    background-color: #02D1BC;
}

.searchIcon svg {
    font-size: 35px;
}
  
input:focus {
    outline: none;
}
  
.dataResult {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}
  
.dataResult .linkDataItem {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 18;
}

.furtherInfo {
    margin-top: 30px;
    width: 100%;
    height: 250px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 8px;
}

.linkDataItem {
    border: none
}

.linkDataItem:hover {
    background-color: lightgrey;
}

.linkDataItem p {
    margin-left: 10px;
}

#clearBtn {
    cursor: pointer;
}

.searchParameter{
    display: flex;
    flex-direction: column;
}

.searchParameter label{
    background-color: inherit;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 20px;
    height: 30px;
    width: 380px;
    color: white;
    margin-top: 15px;
}

.searchParameter select {
    width: 100%;
    min-height: 30px;
    font-size: 18px;
    margin-top: 5px;
    padding: 15px;
    border: none;  
}

.customerInfo {
    display: flex;
    align-items: center;
    height: 50px;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    display: grid;
    place-items: center;
}